/* font color */
/* font family */
/* Theme Color */
/* Button Color */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100%;
}
a {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
}
img {
  vertical-align: bottom;
}
button {
  outline: none;
  border: none;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  color: #000;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 1.5rem;
  margin: 1vw 0;
}
@media only screen and (min-width: 500px) {
  h1 {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }
}
h2 {
  font-size: 1.2rem;
}
@media only screen and (min-width: 500px) {
  h2 {
    font-size: 1.3rem;
  }
}
@media only screen and (min-width: 800px) {
  h2 {
    font-size: 1.5rem;
  }
}
p {
  font-size: 1rem;
}
@media only screen and (min-width: 500px) {
  p {
    font-size: 1.1rem;
  }
}
@media only screen and (min-width: 800px) {
  p {
    font-size: 1.2rem;
  }
}
button {
  font-size: 1.1rem;
}
@media only screen and (min-width: 500px) {
  button {
    font-size: 1.15rem;
  }
}
@media only screen and (min-width: 800px) {
  button {
    font-size: 1.25rem;
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 3vw;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 8vmax;
}
/* Nav */
.nav .nav-item:not(:last-child) {
  margin-right: 3vw;
}
/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  background: #e9ecef;
  padding: 5vw 2vw;
}
.intro .intro-img img {
  max-width: 50%;
}
.intro .intro-subtitle {
  margin-bottom: 1.5vw;
}
.intro .intro-content {
  border-top: 0.1vw solid #d7dadd;
  padding: 2vw 0;
}
.intro .intro-action {
  align-self: flex-start;
  color: #fff;
  background: #808080;
  min-width: 15vw;
  padding: 1vw 1.3vw;
  border-radius: 5px;
}
